@page "/"

<PageTitle>Психолог Елена Новикова</PageTitle>

<div class="flex flex-col gap-2 justify-center items-center bg-[#8fd0cc] py-2 lg:flex-row lg:space-x-6 lg:py-0">
  <div class="flex flex-row items-center justify-center gap-1 text-cyan-50">
    <svg class="w-5 fill-cyan-50" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
      <path d="M222,158.4l-46.9-20a15.6,15.6,0,0,0-15.1,1.3l-25.1,16.7a76.5,76.5,0,0,1-35.2-35h0L116.3,96a15.9,15.9,0,0,0,1.4-15.1L97.6,34a16.3,16.3,0,0,0-16.7-9.6A56.2,56.2,0,0,0,32,80c0,79.4,64.6,144,144,144a56.2,56.2,0,0,0,55.6-48.9A16.3,16.3,0,0,0,222,158.4Z" />
    </svg>
    <div>+7 (495) 287-65-70</div>
  </div>
  <div class="w-[1px] bg-cyan-50 h-3 hidden lg:block"></div>
  <div class="flex flex-row items-center justify-center gap-1 text-cyan-50">
    <svg class="w-5 fill-cyan-50" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M12,2a8,8,0,0,0-8,8c0,5.34,6.15,12,8,12s8-6.66,8-12A8,8,0,0,0,12,2Zm0,12a4,4,0,1,1,4-4A4,4,0,0,1,12,14Z" />
    </svg>
    <div>Ulitsa Samory Mashela, 1, Moscow, 117198</div>
  </div>
    <div class="w-[1px] bg-cyan-50 h-3 hidden lg:block"></div>
  <div class="flex flex-row items-center justify-center gap-1 text-cyan-50">
    <svg class="w-5 fill-cyan-50" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <path d="M20,3H4C1.8,3,0,4.8,0,7v10c0,2.2,1.8,4,4,4h16c2.2,0,4-1.8,4-4V7C24,4.8,22.2,3,20,3z M21.6,8.8l-7.9,5.3   c-0.5,0.3-1.1,0.5-1.7,0.5s-1.2-0.2-1.7-0.5L2.4,8.8C2,8.5,1.9,7.9,2.2,7.4C2.5,7,3.1,6.9,3.6,7.2l7.9,5.3c0.3,0.2,0.8,0.2,1.1,0   l7.9-5.3c0.5-0.3,1.1-0.2,1.4,0.3C22.1,7.9,22,8.5,21.6,8.8z" id="email" />
    </svg>
    <div>testmail@test.com</div>
  </div>
  <a href="#form" class="text-cyan-50 bg-[#45b0a9] flex justify-center p-3 text-lg hover:bg-[#dabd96] tracking-normal rounded-sm lg:h-auto">Записаться на приём</a>
</div>
<div class="sticky top-0 flex flex-col bg-white shadow-sm">
  <div class="flex flex-row justify-between items-center px-4 py-3">
    <a href="/" class="text-4xl text-[#8fd0cc] font-semibold">Psychologist</a>
    <div class="hidden">
      <svg class="w-10 fill-slate-800 cursor-pointer" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg"><path d="M4 7C4 6.44771 4.44772 6 5 6H24C24.5523 6 25 6.44771 25 7C25 7.55229 24.5523 8 24 8H5C4.44772 8 4 7.55229 4 7Z"/><path d="M4 13.9998C4 13.4475 4.44772 12.9997 5 12.9997L16 13C16.5523 13 17 13.4477 17 14C17 14.5523 16.5523 15 16 15L5 14.9998C4.44772 14.9998 4 14.552 4 13.9998Z"/><path d="M5 19.9998C4.44772 19.9998 4 20.4475 4 20.9998C4 21.552 4.44772 21.9997 5 21.9997H22C22.5523 21.9997 23 21.552 23 20.9998C23 20.4475 22.5523 19.9998 22 19.9998H5Z"/></svg>
    </div>
  </div>
  <div class="h-[500px] md:h-24 bg-slate-50 hidden"></div>
</div>
<div>
  <img class="w-full" src="https://html.modernwebtemplates.com/psychologist/images/slide01.jpg" alt="" srcset="">
  <div class="text-white bg-[#444444] flex justify-center text-5xl py-7 shadow-inner">Елена Новикова</div>
</div>
<div class="flex flex-col items-center py-7 text-gray-700">
  <div class="flex flex-col gap-5 items-center w-5/6 lg:w-2/3">
    <h2 class="font-bold text-4xl">Чем Вам помочь?</h2>
    <span class="text-center text-gray-500">Рада приветствовать Вас на моём сайте. Пожалуйста ознакомьтесь с перечнем моих услуг и свяжитесь со мной.</span>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 place-items-center py-10">
    <div class="flex flex-col items-center gap-4 py-6 px-4 mx-4 hover:shadow-xl">
      <img class="w-[80px] h-[90px]" src="https://html.modernwebtemplates.com/psychologist/images/service-icons/relationship.png" alt="" srcset="">
      <h3 class="uppercase font-semibold">отношения</h3>
      <span class="text-center text-gray-500">Терапия, которая поможет установить надержный фундамент для здоровых отношений.</span>
    </div>
    <div class="flex flex-col items-center gap-4 py-6 px-4 mx-4 hover:shadow-xl">
      <img class="w-[80px] h-[90px]" src="https://html.modernwebtemplates.com/psychologist/images/service-icons/mental.png" alt="" srcset="">
      <h3 class="uppercase font-semibold">ментальное здоровье</h3>
      <span class="text-center text-gray-500">Терапия которая может повысить Вашу сосредоточенность, справиться со стрессом и тревожностью и развить креативность.</span>
    </div>
    <div class="flex flex-col items-center gap-4 py-6 px-4 mx-4 hover:shadow-xl">
      <img class="w-[80px] h-[90px]" src="https://html.modernwebtemplates.com/psychologist/images/service-icons/feelings.png" alt="" srcset="">
      <h3 class="uppercase font-semibold">чувства</h3>
      <span class="text-center text-gray-500">Терапия направленная на улучшение способности по управлению собственными чувствами.</span>
    </div>
    <div class="flex flex-col items-center gap-4 py-6 px-4 mx-4 hover:shadow-xl">
      <img class="w-[80px] h-[90px]" src="https://html.modernwebtemplates.com/psychologist/images/service-icons/conflicting.png" alt="" srcset="">
      <h3 class="uppercase font-semibold">конфликтология</h3>
      <span class="text-center text-gray-500">Полезные знания и практики, которые помогут уменьшить количество конфликтов в отношениях.</span>
    </div>
    <div class="flex flex-col items-center gap-4 py-6 px-4 mx-4 hover:shadow-xl">
      <img class="w-[80px] h-[90px]" src="https://html.modernwebtemplates.com/psychologist/images/service-icons/meditation.png" alt="" srcset="">
      <h3 class="uppercase font-semibold">медитация</h3>
      <span class="text-center text-gray-500">Обучитесь справляться со своими эмоциями и чувствами используя медитативные практики.</span>
    </div>
    <div class="flex flex-col items-center gap-4 py-6 px-4 mx-4 hover:shadow-xl">
      <img class="w-[80px] h-[90px]" src="https://html.modernwebtemplates.com/psychologist/images/service-icons/depression.png" alt="" srcset="">
      <h3 class="uppercase font-semibold">депрессия</h3>
      <span class="text-center text-gray-500">Если ваша депрессия мешает Вам жить, никогда не бойтесь попросить о квалифицированной помощи.</span>
    </div>
    <div class="flex flex-col items-center gap-4 py-6 px-4 mx-4 hover:shadow-xl">
      <img class="w-[80px] h-[90px]" src="https://html.modernwebtemplates.com/psychologist/images/service-icons/mind.png" alt="" srcset="">
      <h3 class="uppercase font-semibold">игры разума</h3>
      <span class="text-center text-gray-500">Очень важно овладеть навыками, которые помешают другим людям манипулировать Вами.</span>
    </div>
    <div class="flex flex-col items-center gap-4 py-6 px-4 mx-4 hover:shadow-xl">
      <img class="w-[80px] h-[90px]" src="https://html.modernwebtemplates.com/psychologist/images/service-icons/relaxation.png" alt="" srcset="">
      <h3 class="uppercase font-semibold">релаксация</h3>
      <span class="text-center text-gray-500">Сфокусируйте Ваше внимание на расслаблении и умиротворении.</span>
    </div>
  </div>
</div>
<div class="bg-footer-texture">
  <div class="bg-[#8fd0cc]/80 flex flex-col items-center gap-9 lg:flex-row-reverse">
    <div class="flex flex-col items-center pt-12 pl-12 pr-12 text-white gap-7 text-center text-lg lg:text-2xl">
      <h3 class="text-3xl lg:text-4xl font-bold">Добро пожаловать на мой сайт</h3>
      <strong>Моя цель - создать для Вас комфортную, безопасную атмосферу, в которой мы вместе сможем работать над достижением Ваших целей.</strong>
      <p>Я сертифицированный специалист в области коррекции ментального здоровья и поведенческих проблем. Еще одна моя страсть - блоггинг. В можете найти ссылки на мои статьи на этом сайте.</p>
    </div>
    <img src="https://html.modernwebtemplates.com/psychologist/images/person.png" alt="" srcset="">
  </div>
</div>
<div class="flex flex-col items-center py-7 text-gray-700">
  <div class="flex w-5/6 flex-col items-center gap-5 lg:w-2/3">
    <h2 class="text-4xl font-bold">Последние статьи</h2>
    <span class="text-center text-gray-500">Статьи по психологии, научные исследования, а так же мой взгляд на психологические проблемы с которыми сталкиваются многие люди.</span>
  </div>
  <div class="flex flex-col items-stretch gap-7 py-10 px-6 lg:flex-row">
    <div class="flex flex-col items-center justify-between bg-white shadow-lg lg:w-1/3">
      <img src="https://html.modernwebtemplates.com/psychologist/images/blog_post1.jpg" alt="" srcset="" />
      <div class="flex flex-col items-center gap-5 p-9 text-center">
        <span class="uppercase text-[#8fd0cc]">март 24, 2022</span>
        <h4 class="text-2xl font-semibold">Как выстроить личные границы, когда босс стучит кулаком по столу?</h4>
        <div class="h-[1px] w-10 bg-slate-400"></div>
        <p class="text-slate-600">Пьяные просьбы «начать сначала» от бывшего, жалобы на жизнь от подруги после бокала вина и внезапные признания в любви от не совсем трезвого знакомого...</p>
      </div>
      <button class="mb-6 bg-[#8fd0cc] px-7 py-3 text-base tracking-wide text-white hover:bg-[#dabd96]">Читать статью</button>
    </div>
    <div class="flex flex-col items-center justify-between bg-white shadow-lg lg:w-1/3">
      <img src="https://html.modernwebtemplates.com/psychologist/images/blog_post2.jpg" alt="" srcset="" />
      <div class="flex flex-col items-center gap-5 p-9 text-center">
        <span class="uppercase text-[#8fd0cc]">АПРЕЛЬ 10, 2022</span>
        <h4 class="text-2xl font-semibold">Социальная жизнь и чувство принадлежности</h4>
        <div class="h-[1px] w-10 bg-slate-400"></div>
        <p class="text-slate-600">В последние годы молодые люди чаще начали страдать психическими заболеваниями. В частности, почти 20% первокурсников ежегодно диагностируют депрессию...</p>
      </div>
      <button class="mb-6 bg-[#8fd0cc] px-7 py-3 text-base tracking-wide text-white hover:bg-[#dabd96]">Читать статью</button>
    </div>
    <div class="flex flex-col items-center justify-between bg-white shadow-lg lg:w-1/3">
      <img src="https://html.modernwebtemplates.com/psychologist/images/blog_post3.jpg" alt="" srcset="" />
      <div class="flex flex-col items-center gap-5 p-9 text-center">
        <span class="uppercase text-[#8fd0cc]">МАЙ 13, 2022</span>
        <h4 class="text-2xl font-semibold">Беззаботность и умение радоваться: по чему из детства скучают россияне</h4>
        <div class="h-[1px] w-10 bg-slate-400"></div>
        <p class="text-slate-600">Считается, что детство — самая счастливая пора жизни. Действительно ли это так? Давайте разбираться в этом вопросе вместе...</p>
      </div>
      <button class="mb-6 bg-[#8fd0cc] px-7 py-3 text-base tracking-wide text-white hover:bg-[#dabd96]">Читать статью</button>
    </div>
  </div>
</div>
<div class="bg-thought-texture">
  <div class="bg-[#dabd96]/95 flex flex-col items-center gap-9">
    <div class="flex flex-col items-center p-12 text-white gap-7 text-center text-lg">
      <blockquote class="uppercase text-2xl font-semibold">“для меня это был замечательный и очень своевременный опыт, могу сказать что я действительно впечатлен...”</blockquote>
      <h5 class="font-light">Ефимов Никита Сергеевич</h5>
    </div>
  </div>
</div>
<div id="form" class="flex flex-col items-center py-9 gap-10">
  <div class="flex flex-col items-center gap-5">
    <h3 class="text-[#8dd0cc] font-semibold text-3xl">Записаться на приём</h3>
    <p class="text-center text-slate-600 font-light px-14">Пожалуйста, представьтесь, опишите кратко Вашу проблему и оставьте свои контактные данные, чтобы я могла с Вами связаться. И давайте вместе проработаем проблемы, которые Вас беспокоят.</p>
  </div>
  <form class="flex flex-col items-stretch gap-4 w-5/6 xl:w-1/3">
    <input class="py-3 text-lg font-light text-slate-800 border-b-[1px] border-slate-300 hover:border-[#8dd0cc] focus:outline-none" type="text" name="" id="" placeholder="Имя">
    <input class="py-3 text-lg font-light text-slate-800 border-b-[1px] border-slate-300 hover:border-[#8dd0cc] focus:outline-none" type="text" name="" id="" placeholder="Email">
    <input class="py-3 text-lg font-light text-slate-800 border-b-[1px] border-slate-300 hover:border-[#8dd0cc] focus:outline-none" type="text" name="" id="" placeholder="Тема обращения">
    <input class="py-3 text-lg font-light text-slate-800 border-b-[1px] border-slate-300 hover:border-[#8dd0cc] focus:outline-none" type="text" name="" id="" placeholder="Телефон">
    @*
    <input class="py-3 text-lg font-light text-slate-800 border-b-[1px] border-slate-300 hover:border-[#8dd0cc] focus:outline-none" type="date" name="" id="" placeholder="Дата">
    *@
    <textarea class="resize-y py-3 text-lg font-light text-slate-800 border-b-[1px] border-slate-300 hover:border-[#8dd0cc] focus:outline-none" placeholder="Сообщение" name="" id="" cols="30" rows="5"></textarea>
    <button class="bg-[#8fd0cc] w-[200px] py-3 tracking-wider text-lg shadow-xl shadow-[#8fd0cc]/40 hover:bg-[#dabd96] hover:shadow-[#dabd96]/40 self-center mt-5 text-white">Записаться</button>
  </form>
</div>